#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 1140px;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 17px;
        padding-right: 17px;
        max-width: 1174px;
    }
    
}