.slide{
    display: flex;
    align-items: center;
    height: 440px;
    background-color: #E2F0EF;
    margin-top: 100px;
}

.slide__image {
    width: 50%;
    height: 100%;
    object-fit: cover; /* Change this line */
}
.textblock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 53px 0 56px 63px;
    height: 100%;
    width: 50%;
    position: relative;
}

.textblock::after {
    content: "";
    position: absolute;
    right: -100px; 
    top: 0;
    width: 180px; 
    height: 100%;
    background: #E2F0EF; 
    transform: skewX(20deg);
    z-index: 1;
}

.title__sup{
    color: rgb(54, 72, 68);
    font-family: PT Sans Caption;
    font-size: 38px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.title__sub{
    color: rgb(54, 72, 68);
    font-family: PT Sans Caption;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    position: relative;
    z-index: 3;
}

.list{
    margin-top: 16px;
    color: rgb(54, 72, 68);
    font-family: PT Sans Caption;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    z-index: 2;
}

.list__item{
    list-style-type: disc;
    margin-top: 5px;
    margin-left: 17px;
}

.list__item:first-child{
    margin-top: 0;
}

.list__item::marker {
    color: rgb(31, 161, 129);
}

.sum{
    margin-top: 33px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.sum__after{
    color: rgb(54, 72, 68);
    font-family: PT Sans Caption;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.sum__before{
    margin-left: 16px;
    color: rgb(134, 134, 134);
    font-family: PT Sans Caption;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: line-through;
}
.buttons{
    display: flex;
    align-items: center;
    margin-top: 26px;
    column-gap: 14px;
    z-index: 2;
}

.buttons__appointment{
    border-radius: 50px;
    border: none;
    background: rgb(13, 188, 145);
    width: 196px;
    height: 43px;
    cursor: pointer;

    color: rgb(255, 255, 255);
    font-family: PT Sans Caption;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.buttons__appointment:hover{
    background: #00D29F;
}

.buttons__details{
    border: 1px solid rgb(13, 188, 145);
    border-radius: 50px;
    width: 196px;
    height: 43px;
    cursor: pointer;
    background: transparent;

    color: rgb(13, 188, 145);
    font-family: PT Sans Caption;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.buttons__details:hover{
    background: #0DBC91;
    color: rgb(255, 255, 255);
}